.global-container {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #f5f5f5;
          
        }

        .form-control{
          margin-top: 7px;
          border: 1px solid black;
        }

        .card-title {
          margin-top: 10px;
          padding-bottom: 25px;
          font-weight: 500;
        }
  
        .btn {
          font-size: 20px;
          margin-top: 20px;
        }
  
         .login-form {
          width: 450px; 
          margin: 20px;
          border: 1px solid black;
         
          
        } 
  
        .sign-up {
          text-align: center;
          padding: 20px 0 0;
        }
  
        .alert {
          margin-bottom: -30px;
          font-size: 13px;
          margin-top: 20px;
        }

        .form-group{
          font-size: 20px;
          stroke-width: 10px;
          font-style: italic;
          font-weight: 100%;
        }
